# Ignore everything except subdirectories
*
!*/

# Allow list
!helix/**
!starship.toml
!filezilla/**

# Nushell with configurable env
!nushell/
!nushell/**
# ignore env.nu
nushell/env.nu
nushell/history.txt
